@import "_colors";

$primary: #2C3749 !important;
$primary-light-1: $dusty-blue !important;
$primary-light-2: $seagull !important;

$font-family: "Open Sans", sans-serif !important;
$font-style: normal !important;
$font-weight: normal !important;

$body-bg: #F7FAFC !important;
$bg-coach-1: #F7FAFC !important;
