
@import "_variables";
@import "_mixins";
@import "_font";
@import "_util";
@import "_typography";

//background 
.bg-1 {
  background-color: $bg-coach-1;
}
.bg-2 {
  background-color: $bg-coach-2;
}

.primary {
  background: $primary;
}

.body-bg-secondary{
  background: $grey-100!important
}

.body-bg {
  background: $body-bg;
}

//color 
.font-color-1 {
  color: $grey-700 !important;
}
.font-color-2 {
  color: $grey-500 !important;
}
//vuetify table header
.v-data-table-header {
  background-color: $grey-100;
}

.primary-light-1 {
  color: $grey-200;
  background: $primary-light-1;
}

.primary-light-1--text {
  color: $primary-light-1;
}

.primary-light-2 {
  color: $grey-200;
  background: $primary-light-2;
}

.primary-light-2--text {
  color: $primary-light-2;
}

.light {
  color: $grey-500;
  background: $grey-200;
}

.body-bg {
  background: $grey-100 !important;
}

.line {
  width: 100%;
  background: $grey-500;
  height: 1px;
}

.required {
  font-family: $font-family;
  font-size: 12px;
  text-align: right;
  color: #c7311d;
}

.page-title {
  @include h2;
}

.section-title {
  @include h3;
  color: $primary-light-1;
  text-transform: capitalize;
}

.section-description {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6f8098;
}

/* Logo */
.logo {
  position: relative;
  padding-right: 20px;
  height: 100%;
  img {
    padding-right: 20px;
  }
}
.logo::before {
  position: absolute;
  top: -2px;
  right: 10px;
  content: "BETA";
  color: #fff;
  font-size: 9px;
  line-height: 8px;
  font-weight: 600;
  padding: 3px 3px;
  background-color: red !important;
  border-radius: 10px;
}

/* Color */
.disabled--text {
  color: rgba(0, 0, 0, 0.26) !important;
}
/* Color */

/* Button */
.v-btn .v-btn__content {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
}

.btn {
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
}

.btn-sm {
  height: 22px;
  width: 70px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.btn-def {
  height: 32px;
  width: 100px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.btn-lg {
  height: 42px;
  width: 100px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
}

.btn-xl {
  height: 54px;
  width: 100px;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 54px;
}

.btn-special {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border: 1px solid #6eb5cb;
  height: 42px;
  vertical-align: middle;
  width: 140px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-light-2;

  img {
    width: 14px;
    height: 22px;
    height: 22px;
    margin-right: 14px;
  }
}

.btn-tag {
  color: $grey-200;
  background: $primary-light-2;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  border-radius: 20px;
  width: 45px;
  height: 21px;
  text-align: center;
}

.btn-tag-icon {
  color: $grey-200;
  background: $primary-light-2;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-width: 108px;
  width: 100%;
  height: 22px;
  text-align: center;

  .btn-text {
    flex-grow: 5;
  }

  img {
    text-align: right;
    flex-grow: 1;
    height: 12px;
  }
}

/* Button */

/* Fonts */
.toasted-container {
  font-family: $font-family;
}
/* Fonts */

/* Page */
.page-container {
  padding-left: 40px;
  padding-right: 40px;
}
/* Page */
.common-top-page-title{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px!important;
  text-align: center;
  text-transform: capitalize;
  color: #49556A;
}
.common-top-back-icon{
  color: #49556A!important;
  font-size: 30px!important;
  line-height: 27px!important;
}

.common-top-add-icon{
  color: #49556A!important;
  font-size: 30px!important;
  line-height: 27px!important;
}

.common-top-save-button{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 17px!important;
  line-height: 27px!important;
  text-align: right;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #49556A!important;

}


.page-top-header-row{
  position: sticky!important; 
  top: 0!important; 
  z-index: 1!important;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}
.page-top-header-column px-0 mx-0{
  background-color: $body-bg;
}

.save-profile{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  text-decoration-line: underline;

  color: #15577C!important;
}
.edit-profile{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgb(18 16 16 / 55%)
}
.chip-section{
  background: #FFFFFF;
  border: 1px solid $grey-500 !important;;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 7px;
}

.v-switch-core {
  box-shadow: inset 0px 6px 8px 3px rgb(0 0 0 / 10%)!important;
}

.v-switch-button{
  background: linear-gradient(180deg, #FFFFFF 0%, #E8EAEA 100%)!important;
  filter: drop-shadow(-2px 1px 6px rgba(0, 0, 0, 0.25))!important;
}

.vue-file-agent.file-input-wrapper {
  border: 2px dashed $grey-500 !important;;
  border-radius: 8.44444px!important;
}

.default{
  &--text{
    color: $grey-700!important;
  }
  &--title{
    font-family: $font-family!important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: $grey-700!important;

  }
  &--label{
    font-family: $font-family!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 16px!important;
    line-height: 24px!important;
    display: flex;
    align-items: center;
    text-transform: capitalize!important;
    color: $grey-700!important;
  }
  &--placeholder{
    font-family: $font-family!important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: $grey-500!important;
  }
  &--sub-title{
    font-family: $font-family!important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $grey-700!important;
  }
  &--button{
    text-transform: capitalize;
    text-align: center!important;
  }
  &--login-button{
    font-family: $font-family!important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: $grey-700!important;
    text-transform: none;
  }
}

.no-transform{
  text-transform: none!important;
}
.theme--light {
  .v-label  {
    color: $grey-500 !important;
  }
  .v-icon {
    // color: $grey-500 !important;
  }
}

.tiptap-vuetify-editor__content p {
  margin-top: 0px !important;
}
.tiptap-vuetify-editor__content {
  background: white!important;
}
.tiptap-vuetify-editor__action-render-btn{
  color: white!important;
}
.tiptap-vuetify-editor__toolbar {
	.v-toolbar {
		border-top-left-radius: 4px!important;
		border-top-right-radius: 4px!important;
	}
}
.v-list-item{
  &__icon {
    align-self: center!important;
  }
}

// Global Error Message Details Space
.v-text-field__details{
  display: none;
}
.error--text .v-text-field__details{
  display: inline;
}
.v-input__slot{
  margin-bottom: 4px;
}

