
$dusty-blue: #15577C;
$hot-pink:#D61BA2; 
$basket:#D87D54;
$blanc:#DCD4C1;
$thunderbird:#C7311D;
$tulip-tree:#EDB041;
$seagull:#6EB5CB;
$true-blue:#0076D9;
$outrageous-orange:#FF633F;
$dusty-60:#A1BCCB;

$grey-100: #F7FAFC;
$grey-200: #ECF2F7 ;
$grey-300: #E1E8F1;
$grey-400: #CAD5E1;
$grey-500: #9FAEC2;  
$grey-600: #6F8098;
$grey-700: #49556A;
$grey-800: #2C3749;
$grey-900: #1A202D;

$black: #000000; $rgb-black: "0,0,0" !default;
$white: #ffffff; $rgb-white: "255,255,255" !default;